Repository vetriselvan-pv/nx_repo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html,js}": [
		"prettier --write"
	],
	"*.ts": [
		"tslint --fix"
	],
	"*.scss": [
		"stylelint --fix"
	]
}

lint config done
  .huskyrc
  apps/mobile/ionic-angular/src/app/home/home.page.html
  apps/mobile/ionic-angular/src/app/home/home.page.scss
  package-lock.json
  package.json
Due: prettier --write, stylelint --fix

lint config done
  apps/mobile/ionic-angular/src/app/home/home.page.html
Due: prettier --write

lint added
  .prettierignore
  apps/mobile/ionic-angular/src/app/home/home.page.html
  package-lock.json
  package.json
Due: prettier --write

lint added
  apps/mobile/ionic-angular/.gitignore
  package-lock.json
Due: prettier --write

husky added
  apps/mobile/ionic-angular/src/app/home/home.page.html
  package.json
Due: prettier --write

pre-commit added
  .husky/pre-commit
Due: none

feat(husky): prettier stylelint eslint lint staged added
  .husky/commit-msg
  .huskyrc
  .lintstagedrc
  commitlint.config.js
  package.json
Due: prettier --write

feat(angular): doc added
  README.md
  apps/web/angular/src/README.md
Due: prettier --write

feat(react): react app setup done
  Documents/ionic-angular-setup.md
  Documents/lint-configuration.md
  README.md
  apps/web/angular/README.md
  apps/web/react-e2e/.eslintrc.json
  apps/web/react-e2e/cypress.json
  apps/web/react-e2e/src/fixtures/example.json
  apps/web/react-e2e/src/integration/app.spec.ts
  apps/web/react-e2e/src/plugins/index.js
  apps/web/react-e2e/src/support/app.po.ts
  apps/web/react-e2e/src/support/commands.ts
  apps/web/react-e2e/src/support/index.ts
  apps/web/react-e2e/tsconfig.e2e.json
  apps/web/react-e2e/tsconfig.json
  apps/web/react/.babelrc
  apps/web/react/.browserslistrc
  apps/web/react/.eslintrc.json
  apps/web/react/README.md
  apps/web/react/jest.config.js
  apps/web/react/src/app/app.module.scss
  apps/web/react/src/app/app.spec.tsx
  apps/web/react/src/app/app.tsx
  apps/web/react/src/app/logo.svg
  apps/web/react/src/app/star.svg
  apps/web/react/src/assets/.gitkeep
  apps/web/react/src/environments/environment.prod.ts
  apps/web/react/src/environments/environment.ts
  apps/web/react/src/favicon.ico
  apps/web/react/src/index.html
  apps/web/react/src/main.tsx
  apps/web/react/src/polyfills.ts
  apps/web/react/src/styles.scss
  apps/web/react/tsconfig.app.json
  apps/web/react/tsconfig.json
  apps/web/react/tsconfig.spec.json
  babel.config.json
  jest.config.js
  nx.json
  package.json
  workspace.json
Due: prettier --write, tslint --fix, stylelint --fix

feat(angular-material): angular material and doc added
  Documents/angular-material-setup.md
  Documents/convenstional-commit.md
  Documents/lint-configuration.md
  Documents/lint-staged.md
  Documents/stylelint.md
  package.json
Due: prettier --write

feat(vue): vue app done
  apps/web/vue-e2e/.eslintrc.json
  apps/web/vue-e2e/cypress.json
  apps/web/vue-e2e/src/fixtures/example.json
  apps/web/vue-e2e/src/integration/app.spec.ts
  apps/web/vue-e2e/src/plugins/index.js
  apps/web/vue-e2e/src/support/app.po.ts
  apps/web/vue-e2e/src/support/commands.ts
  apps/web/vue-e2e/src/support/index.ts
  apps/web/vue-e2e/tsconfig.e2e.json
  apps/web/vue-e2e/tsconfig.json
  apps/web/vue/.browserslistrc
  apps/web/vue/.eslintrc.js
  apps/web/vue/README.md
  apps/web/vue/babel.config.js
  apps/web/vue/configure-webpack.js
  apps/web/vue/jest.config.js
  apps/web/vue/public/favicon.ico
  apps/web/vue/public/index.html
  apps/web/vue/src/App.vue
  apps/web/vue/src/assets/logo.png
  apps/web/vue/src/components/HelloWorld.vue
  apps/web/vue/src/main.ts
  apps/web/vue/src/router/index.ts
  apps/web/vue/src/shims-vue.d.ts
  apps/web/vue/src/views/About.vue
  apps/web/vue/src/views/Home.vue
  apps/web/vue/tests/unit/example.spec.ts
  apps/web/vue/tsconfig.app.json
  apps/web/vue/tsconfig.json
  apps/web/vue/tsconfig.spec.json
  jest.config.js
  nx.json
  package.json
  workspace.json
Due: prettier --write, tslint --fix

feat(ngxs): ngxs store and plugins added
  Documents/ngxs-store-setup.md
  package.json
Due: prettier --write

feat(vuex): vuex setup done
  Documents/vuex-setup.md
  package.json
Due: prettier --write

feat(bootstrap): bootstrap set up and popper js
  Documents/bootstrap5-setup.md
  Documents/popper-js.md
  apps/web/angular/src/app/app.component.html
  apps/web/angular/src/styles.scss
  apps/web/angular/src/theme/_variable.scss
  package.json
Due: prettier --write, stylelint --fix

feat(popper-js): popper js not yet completed
  .eslintrc.json
  .vscode/settings.json
  Documents/nx-cli.md
  apps/web/angular/src/app/app.component.html
  apps/web/angular/src/app/app.component.scss
  apps/web/angular/src/app/app.module.ts
  jest.config.js
  libs/web/angular/shared/directive/.eslintrc.json
  libs/web/angular/shared/directive/README.md
  libs/web/angular/shared/directive/jest.config.js
  libs/web/angular/shared/directive/src/index.ts
  libs/web/angular/shared/directive/src/lib/tooltip.directive.spec.ts
  libs/web/angular/shared/directive/src/lib/tooltip.directive.ts
  libs/web/angular/shared/directive/src/lib/web-angular-shared-directive.module.ts
  libs/web/angular/shared/directive/src/test-setup.ts
  libs/web/angular/shared/directive/tsconfig.json
  libs/web/angular/shared/directive/tsconfig.lib.json
  libs/web/angular/shared/directive/tsconfig.spec.json
  nx.json
  tsconfig.base.json
  workspace.json
Due: prettier --write, tslint --fix, stylelint --fix

feat(loader): spinner and pulse loader added
  libs/web/html/spinner-loader/spinner.css
  libs/web/html/spinner-loader/spinner.html
  libs/web/html/spinner-loader/spinner.js
  libs/web/html/utility/utility.css
Due: prettier --write

feat(nx_migration): nx-13 migration done
  apps/mobile/ionic-angular-e2e/src/plugins/index.js
  apps/web/angular-e2e/src/plugins/index.js
  apps/web/react-e2e/src/plugins/index.js
  apps/web/vue-e2e/src/plugins/index.js
  jest.config.js
  migrations.json
  nx.json
  package.json
  workspace.json
Due: prettier --write

feat(migration): latest version
  migrations.json
  package.json
Due: prettier --write

feat(access-directive): access directive with reference link added
  libs/web/angular/shared/directive/src/lib/access-control/access-control.directive.spec.ts
  libs/web/angular/shared/directive/src/lib/access-control/access-control.directive.ts
  libs/web/angular/shared/directive/src/lib/web-angular-shared-directive.module.ts
Due: prettier --write, tslint --fix

feat(migration): migration done
  apps/mobile/ionic-angular/jest.config.js
  apps/mobile/ionic-angular/src/app/app.module.ts
  apps/mobile/ionic-angular/src/test-setup.ts
  apps/web/angular/jest.config.js
  apps/web/angular/src/test-setup.ts
  libs/web/angular/shared/component/jest.config.js
  libs/web/angular/shared/component/src/test-setup.ts
  libs/web/angular/shared/directive/jest.config.js
  libs/web/angular/shared/directive/src/test-setup.ts
  nx.json
  workspace.json
Due: prettier --write, tslint --fix

feat(migration): tooltip directive path change done
  libs/web/angular/shared/directive/src/lib/tooltip/tooltip.directive.spec.ts
  libs/web/angular/shared/directive/src/lib/tooltip/tooltip.directive.ts
  libs/web/angular/shared/directive/src/lib/web-angular-shared-directive.module.ts
Due: prettier --write, tslint --fix

feat(portfolio): personal portfolio done
  Documents/nx-cli.md
  apps/web/react/src/app/app.module.scss
  apps/web/react/src/app/app.tsx
  apps/web/react/src/app/portfolio.tsx
  apps/web/react/src/assets/Union.svg
Due: prettier --write, stylelint --fix

feat(directive): custom directives
  libs/web/angular/shared/directive/.eslintrc.json
  libs/web/angular/shared/directive/src/lib/delay-rendering/delay-rendering.directive.spec.ts
  libs/web/angular/shared/directive/src/lib/delay-rendering/delay-rendering.directive.ts
  libs/web/angular/shared/directive/src/lib/hide/hide.directive.spec.ts
  libs/web/angular/shared/directive/src/lib/hide/hide.directive.ts
  libs/web/angular/shared/directive/src/lib/web-angular-shared-directive.module.ts
  libs/web/angular/shared/directive/tsconfig.json
Due: prettier --write, tslint --fix
